<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div id="content" class="page">
    <header>
        <h1>YSOCIAL</h1>
        <nav>
            <menu>
                
                <menuitem><a href="{{ url_for('events.index') }}"><button type="button">Home</button></a></menuitem>
                <menuitem><a href="{{ url_for('events.register') }}"><button type="button">Register</button></a></menuitem>
            </menu>
        </nav>
    </header>
    <div class="main">
      <div class="register">
      <form method="POST">
        {% for event in events %}
        <p>{{event.name}}</p>
        <p>{{event.date}}</p>
        <p>{{event.desc}}</p>
        <!-- <li>
          <label for="event_{{ event.id }}">{{event.desc}}</label>
          <label for="event_{{ event.name }}">{{event.name}}</label>
          <label for="event_{{ event.date }}">{{event.date}}</label>
        </li> -->
        {%endfor%}

        <!-- {% for event_date in event_dates %}

        <li>
          <label for="event_date_{{ event_date.id }}">{{event.event_date}}</label></s>
          <input type="number"event_date="{{user.slug}}" id="event_date_{{event_date.id}}"min="0" value="0">
        </li>
        {%endfor%}

        {% for event_discription in event_discriptions %}

        <li>
          <label for="event_discription{{ event_discription.id }}">{{event.event_discription}}</label></s>
          <input type="number"event_discription="{{user.slug}}" id="event_discription_{{event_discription.id}}"min="0" value="0">
        </li>
        {%endfor%}
           -->
          <p>
            {% if events_pagination.prev_num %}
            <a href="{{url_for('events.events',page=events_pagination.pref_num) }}">Next Page</a>
            {%else%}
            <span> Previuos Page </span>
            {% endif %}
            <span> - </span>
            {% if events_pagination.next_num %}
              <a href="{{ url_for('events.events', page=events_pagination.next_num) }}">Next Page</a>
            {% else%}
              <span>Next Page</span>
            {% endif %}
          </p>
      </form>
      </div>
      <a href="{{ url_for('events.register') }}"><button type="button">Register your event</button></a>
    </div>
    <div class="footer">
      <p class="footer writing">Joy is social!</p>
    </div>
  </div>
</body>