<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div id="content" class="page">
    <header>
        <h1>YSOCIAL</h1>
        <nav>
            <menu>
                <menuitem><a href="{{ url_for('events.index') }}"><button type="button">Home</button></a></menuitem>
                <menuitem><a href="{{ url_for('events.get_events') }}"><button type="button">Events</button></a></menuitem>
            </menu>
        </nav>
    </header>
    <div class="main">
      <div class="register">
          <h2>Register your event</h2>
        <form method="POST">
          <p>
            <div>
              <label for="event"></label>
              <input type="text" name="event" id="event" placeholder="your event name">
            </div>
          </p>
          <p>
            <div>
              <label for="event_date"></label>
              <input type="integer" name="event_date" id="event_date"  placeholder="dd.mm.yyyy">
            </div>
          </p>
          <p>
            <div>
              <label for="event_discription"></label>
              <input type="text" name="event_discription" id="event_discription" placeholder="your event discription">
            </div>
          </p>
          <p>
            <div>
              <input type="submit" value="register">
            </div>
          </p>  
        </form>
      </div>
    </div>
    <div class="footer">
      <p class="footer writing">Joy is social!</p>
    </div>
  </div>
</body>